.mailing {
  text-align: center;
}

.mailing__wrapper {
  display: flex;
}

.mailing__features {
  list-style: none;
  text-align: left;
  line-height: 25px;
}

.mailing__features-item:not(:last-child) {
  margin-bottom: 15px;
}

.mailing__form {
  background-color: $basic-white;
}
